.header {
  padding: 10px;
  text-align: center;
  background: #333;
  color: white;
}

.header h1 {
  font-size: 25px;
}


ul.browse {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color: #333;
}

li.browse {
  float: left;
  border-right:1px solid #bbb;
}

li.browse:last-child {
  border-right: none;
}

li.browse a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

li.browse a:hover  {background-color: #FF0000;} {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

section{
  list-style-type: none;
  margin: 0;
  padding: 20;
  overflow: hidden;
  background-color: white;
  font-size: small;
}

h3{
color:white;
text-align:center;
align-self: center;
font-size: 40px;
border-radius: 20px;
padding: 10px;
background-color: #333;

}

.button {
  background-color: #4CAF50;

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.button2 {
  background-color:#f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.button3  {
  background-color:grey;
  border-radius: 100px;
  width: 100px;
  height: 50px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;

}

.button4{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #333;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

table, tbody, tr, th, td {
  border: 4px solid black;
  border-width: medium;
  border-right-width: medium;
  font-size: large;
  table-layout: auto;
  position: center;
}
th, td{
  padding: 1px;
  text-align: center;

}

.orders{
  float:right;
  position:relative;
  text-align:left;
}

